* {
    cursor: url('assets/images/cursor.png'), auto;
}

html {
    height:100%;
}
    
body {
    background-color:#00386d;
    /*background-image: url('assets/images/space.gif');*/
    color:white;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size:12px;
}

h1 {
    text-align: center;
    display:flex;
    align-items: center;
}

@media (max-width: 599px) {
    h1 {
        font-size: 6vw;
    }
}

#fun-content {
    display:none;
}

.centered-stuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    animation: glow 2s ease-in-out infinite;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin: 0px 32px 32px 32px;
}

.spaced-gif {
    margin: 10px;
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 5px #ffffff69, 0 0 10px #ffffff69, 0 0 15px #ffffff69, 0 0 20px #ffffff69;
    }
    50% {
        box-shadow: 0 0 10px #ffd000bd, 0 0 20px #ffd000bd, 0 0 30px #ffd000bd, 0 0 40px #ffd000bd;
    }
}

.wip-banner {
    background-color: #f1c40f;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border:solid;
    border-style:double;
    border-width:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
}

.notice {
    background-color: #C0C0C0;
    border: 1px solid #000000;
    padding: 16px;
    font-family: 'MS Sans Serif', Geneva, sans-serif;
    color: #000000;
    margin:5px 30px 5px 30px;
    box-shadow: inset -2px -2px 0px 0px #808080, inset 2px 2px 0px 0px #FFFFFF;
    width:50vw;
}

audio {
    width: 128px;
    background-color: #C0C0C0;
    border: 1px solid #000000;
    padding: 5px;
    font-family: 'MS Sans Serif', Geneva, sans-serif;
    color: #000000;
    box-shadow: inset -2px -2px 0px 0px #808080, inset 2px 2px 0px 0px #FFFFFF;
}

button {
    background-color: #C0C0C0;
    border: 1px solid #000000;
    padding: 5px;
    font-family: 'MS Sans Serif', Geneva, sans-serif;
    color: #000000;
    box-shadow: inset -2px -2px 0px 0px #808080, inset 2px 2px 0px 0px #FFFFFF;
    width: 120px;
}

button:active {
    box-shadow: inset 2px 2px 0px 0px #808080, inset -2px -2px 0px 0px #FFFFFF;
}

#reaction-gif {
    width: 80px;
    height: 100px;
    margin: 10px;
    image-rendering: crisp-edges;
}
