
.container {
    position: absolute;
    background-color: #c4c4c4;
    background-image: url('src/assets/images/concrete.png');
    width: 240px;
    height: 120px;
    color: black;
    border: solid;
    border-color: rgb(207, 207, 207);
    border-width: 1px;
    outline: solid;
    outline-style: outset;
    outline-width: 1px;
    animation: zoomInEffect 0.3s linear;
}

@keyframes zoomInEffect {
    from {
        transform: scale(0.2);
        
    }
    to {
        transform: scale(1);
    }
}


.title-bar {
    background-color: #001488;
    color: white;
    padding: 2px 2px 2px 4px;
    font-size: 14px;
    user-select: none;
}

.content {
    padding: 2px 2px 2px 4px;
    font-size: 16px;
    user-select: none;
    font-weight: 500;
}

button {
    background-image: url('src/assets/images/concrete.png');
    filter: hue-rotate(180deg) saturate(10);
}