* {
    cursor: url('src/assets/images/cursor.png'), auto;
}

:root {
  font-family: "Red Hat Display", Verdana, Geneva, Tahoma, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    overflow: hidden;
}